body {
    margin: 0;
    padding: 0;
    background-color: #fb8e50;
    background-image: linear-gradient(62deg, #fb8e50 0%, #F7CE68 50%, #ea8d4e 100%);

}

.carousel-inner .carousel-item {
    transition: opacity 1s ease-in-out;

}

.carousel-item img {
    opacity: 0.5;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.carousel-caption h1 {

    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    text-align: center;

    color: black;

}

.navbar {
    color: white;
    margin: 0px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    margin: 0;
    padding: 0;
    font-family: "Asar", serif;
    font-weight: 400;
    font-style: normal;



}

.container-fluid {
    background-color: black;
    margin: 0px;
}

form {
    width: 130px;
}

.second1 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
    margin-right: 40px;
}

.navbar a {
    color: white;
    background-color: black;
}

.navbar a:hover {
    color: white;
    transform: scale(1.2);
}

.content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.content img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.simages {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0 30px;
    margin-left: 90px;
    row-gap: 30px;
}

.slideshow img {
    height: 530px;
}

.slideshow p,
h5 {
    color: black;
    font-weight: bolder;
}

.slideshow {
    margin: 0px;
}

.about {
    margin-top: 40px;
}

.col-md-6 {
    width: 100%;
    padding: 0 80px;
}

.services {
    margin-top: 90px;
    gap: 80px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user {
    margin: 0px 0px 10px 13px;
}

.pwd {
    margin: 0px 0px 10px 13px;
}



.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0.7em;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: none;
    color: black;
}

.form.active {
    display: block;
}

.remember-password {
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-password a {
    color: aquamarine;
}

.remember-password a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #f72d7a;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.create-account {
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a {
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover {
    text-decoration: underline;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.simages:hover .card:not(:hover) {
    filter: blur(5px);
}

.simages {
    margin-top: 30px;
}

.aboutus {
    border: 10px solid black;
}


.card img {
    width: 287px;
    height: 263px;
}

.card-text {
    text-align: center;
    font-weight: bold;
}

.testimonials {
    margin-top: 80px;
}

.t-container {
    width: 1090px;
    margin: 0px 100px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 120px 30px;
    position: relative;


}

.c1,
.c2,
.c3 {
    border: 4px solid black;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f5dede;
    padding-top: 50px;
}


.c1 img,
.c2 img,
.c3 img {
    margin: 0px;
    padding: 0px;
}

.i1,
.i2,
.i3 {
    position: absolute;
    width: 15%;
    height: 33%;
    z-index: 1;
    /* Higher z-index to display on top */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 5px grey;
}

.i1 {
    top: 20px;
    left: 114px;
}

.i2 {
    top: 20px;
    left: 463px;
}

.i3 {
    top: 20px;
    right: 110px;
}

.contact-us {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
    justify-content: space-around;
}

.icons {
    display: flex;
    gap: 30px;
}

.gcontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    box-shadow: 0px 12px 50px black;
}

.gallery img {
    width: 320px;
    height: 320px;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes down {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}


.title {
    margin-top: 60px;
}

.section {
    padding-bottom: 90px;
}

.section .arrows button {
    background: transparent;
    margin: 0px 15px;
    border: 0;
    border-radius: 12px;
    margin-bottom: 40px;
}

.section .arrows button:hover i {
    color: #000;
}

.section .arrows button:hover {
    background: #fff;
}

.section .arrows button i {
    padding: 10px 30px;
    color: white;
    font-size: 1.3rem;
    border: 1px solid #fff;
    border-radius: 12px;
}

.section .team-members {
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .team-members .member-card1 {
    position: relative;
    max-height: 350px;
    max-width: 300px;
    border-radius: 26px;
    margin: 0 12px;
    overflow: hidden;
    transition: 0.7s;
}


.member-card1 .icons {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 20%;
    left: 10%;
    transition: 1s;

}

.member-card1 .icons i {
    color: #fff;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    padding-top: 13px;

}

.member-card1:hover .icons {
    display: flex;
    flex-direction: column;
}

.member-card1:hover .icons i {
    transform: rotate(0deg);
    transition: all 1s;
}


.member-card1 img {
    height: 100%;
    width: 100%;
    border-radius: 26px;
    transition: all 1s ease;
}

.member-card1 .content {
    position: absolute;
    z-index: 1;
    top: 72%;
    left: 10%;
    font-family: "Poppins";
}

.member-card1 .content h2 {
    color: #fff;
    margin: 5px 0;
    font-size: 30px;
}

.section .team-members .member-card1 .content h3 {
    color: white;
    padding-right: 8px;
    font-weight: 800;
    font-size: 25px;

}

.section .team-members .member-card1:hover img {
    transform: scale(1.1);
}

/* cdn  */

.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

@media(max-width:1024px) {
    .section .title {
        flex-direction: column;
    }

    .section .title h2 {
        transition: 1s;
        padding: 0px 18px;
        margin: 45px 0;
        font-size: 3.4rem;
    }
}

@media(max-width:900px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.6rem;
    }

    .aboutus h1{
        font-weight: lighter;
       }
}

@media(max-width:768px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.8rem;
    }

  
    
}

@media(max-width:440px) {
    .section .title h2 {
        transition: 1s;
        font-size: 3.5rem;
    }

   

    .card-text
    {
       font-size: 5px;
    }
}